@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 --american-blue : #002868;
 --american-red : #BF0A30;
 --bg-yellow : rgb(250, 255, 192);
}

.main-font {
  font-family: var(--font-main);
}

.fancy-font {
  font-family: var(--font-fancy);
}

.main-body {
  /* background: url("https://as1.ftcdn.net/v2/jpg/03/66/10/14/1000_F_366101427_8yazUJK82fDrLi4YtpnQO3DJ4dTygxoe.jpg") repeat-x; */
  background-color: var(--bg-yellow);
}

.text-american-blue {
  color: var(--american-blue);
}

.text-american-red {
  color: var(--american-red);
}