@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 --american-blue : #002868;
 --american-red : #BF0A30;
 --bg-yellow : rgb(250, 255, 192);
}

.main-font {
  font-family: var(--font-main);
}

.fancy-font {
  font-family: var(--font-fancy);
}

.main-body {
  /* background: url("https://as1.ftcdn.net/v2/jpg/03/66/10/14/1000_F_366101427_8yazUJK82fDrLi4YtpnQO3DJ4dTygxoe.jpg") repeat-x; */
  background-color: var(--bg-yellow);
}

.text-american-blue {
  color: var(--american-blue);
}

.text-american-red {
  color: var(--american-red);
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--american-blue); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--american-blue); }
}